/ABSTRAK dediii.docx
/Adobe
/Adobe After Effects Auto-Save
/Arduino
/Assetto Corsa
/AutoHotkey
/AutomaticSolution Software
/Bahasa indonesia saat ini.docx
/Bahasa indonesia.pptx
/BandLab
/bhs indonesia ppt.pdf
/Book1.xlsx
/Book12.xlsx
/Corel
/Custom Office Templates
/DATADBADIT
/Desktop - Shortcut.lnk
/desktop.ini
/file TIAN
/GTA San Andreas User Files
/Hilman_latihan_1.docx
/Hilman_Latihan_1.xlsx
/hosts.txt
/IRAISEADITYA3B.SQL
/KAMIS 27 OKTOBER
/Kata Pengantar DEDI.docx
/KISAH HIDUP SAYA (guntoro).docx
/Makalah Mahad.docx
/My Cheat Tables
/Need for Speed Heat
/NetBeansProjects
/OneNote Notebooks
/Pemrograman Rabu
/PENGARUH TEKNOLOGI ABS ADITYA PRATAMA.docx
/PENGENALAN DIRI SAYA.docx
/PointBlank
/ppt kelp kami.pptx
/PROPOSAL LATIFAH.docx
/proyek4b
/Rainmeter
/rsmb.aep
/rsmb.aep Logs
/shalat FIQIHh.pptx
/Sistem Basis Data
/skripsi tian
/TUGAS 2 ADITYA PRATAMA.docx
/TUGAS ADIT PPTKI.docx
/tugas aditia dan hilman
/TUGAS ADITYA PRATAMA I.docx
/TUGAS B.INDO ABDAN.docx
/TUGAS BAHASA INDONESIA ADITYA & ANDI.pdf
/tugas biindo propsal.docx
/tugas dani
/TUGAS DAY 2.docx
/TUGAS FUNDAMENTAL M. Novryanda Reza.docx
/TUGAS MENGANALIS MHD AZZAH HIDAYATULLAH DAN MUHAMMAD FADHIL  TIF B (1).docx
/TUGAS MHD AZZZAH HIDAYATULLAH bindo.docx
/TUGAS MHIDAYATULLAH.docx
/Tugas Pemograman fundamental abdan syakura.docx
/Tugas Pemograman fundamental Hilman alfarizi.docx
/tugas pemograman fundamental randi gunawan.docx
/TUGAS PEMROGRAMAN FUNDAMENTAL ADITYA PRATAMA.docx
/TUGAS PEMROGRAMAN FUNDAMENTAL Guntoro.docx
/TUGAS PEMROGRAMAN FUNDAMENTAL IRFAN.docx
/tugas pl mhidayatullah.docx
/TUGAS PL YADULLAH ASY SYAKIRI.docx
/TUGAS PROBSTAT JAILANI ANDRISCHA NASUTION.docx
/tugas sikap berbahasa.pptx
/TUGAS3_MUHAMMAD HIDAYATULLAH.pdf
/TUGAS5_ADITYAPRATAMA.pdf
/TUGAS_LAPORAN KEGIATAN DAYAT&HAIKAL.docx
/UASPMADITYAPRATAMA.docx
/UAS_Mhidayatullah.docx
/vid.zip
/WebCam Media
/XuanZhi9
/~$kala hakikat bahasa dan bahasa indonesia saat ini.docx
/My Music
/My Pictures
/My Videos